<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website. If you stay on this website without modifying the cookie settings of your browser, you accept the usage of our cookies.","dismiss":"Got it!","learnMore":"More info","link":"#SITE_URL#content/imprint","theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
