<div class="col-md-6 col-sm-6">
 <a data-toggle="modal"   data-target="#register_modal"  class="thumbnail thumbnail-list">
 		<div class="list_box">
          <div class="col-xs-6 col-sm-4 col-md-4">#SEARCH_IMAGE_LIST#
          </div>
          
          <div class="col-xs-6 col-sm-6 col-md-8">
          <strong>#SEARCH_NAME#</strong>
          <p class="sub_info_listing_grid"><small>#SEARCH_COUNTRY# <!--#SEARCH_ZIPCODE#--> #SEARCH_CITY# #DISTANCE#<br>
#SPORTS#</small></p>
</div>
</div></a>

</div>